.ProductPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background: var(--skeleton-background-color);
  max-height: var(--product-photo-max-size);
}

.ProductPhoto__grey {
  animation: none;
  background: var(--grey-gradient);
}

.ProductPhoto__rose {
  animation: none;
  background: var(--rose-gradient);
}

.ProductPhoto__beige {
  animation: none;
  background: var(--beige-gradient);
}

.ProductPhoto__violet {
  animation: none;
  background: var(--violet-gradient);
}

.ProductPhoto__blue {
  animation: none;
  background: var(--blue-gradient);
}

.ProductPhoto_photo {
  z-index: 2;
  pointer-events: none;
}

.ProductPhoto_photo__horizontal {
  width: 100%;
}

.ProductPhoto_photo__vertical {
  height: 100%;
}

.ProductPhoto_photo__square {
  height: 100%;
  width: 100%;
}
