.ProductPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background: var(--skeleton-background-color);
  max-height: var(--product-photo-max-size);
}

@keyframes lana {
  to {
    opacity: 1;
  }
}

.ProductPhoto img {
  opacity: 0;
  animation: lana 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.ProductPhoto__grey {
  background: var(--grey-gradient);
}

.ProductPhoto__rose {
  background: var(--rose-gradient);
}

.ProductPhoto__beige {
  background: var(--beige-gradient);
}

.ProductPhoto__violet {
  background: var(--violet-gradient);
}

.ProductPhoto__blue {
  background: var(--blue-gradient);
}

.ProductPhoto_photo {
  z-index: 2;
  pointer-events: none;
}

.ProductPhoto_photo__horizontal {
  width: 100%;
}

.ProductPhoto_photo__vertical {
  height: 100%;
}

.ProductPhoto_photo__square {
  height: 100%;
  width: 100%;
}
