.ShoppingCart {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
}

.ShoppingCart::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.ShoppingCart_productList {
  margin: 12px;
  width: calc(100% - 24px);
  column-gap: 16px;
  background: var(--vkui--color_background_content);
  row-gap: 8px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.ShoppingCart_confirmPay {
  max-width: 410px;
  display: block;
  max-height: 48px;
  margin: 10px auto;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-end;
  position: sticky;
  top: 100%;
}

.ShoppingCart_checkout {
  flex: 1;
  background: var(--vkui--color_background_content);
  user-select: none;
}

.ShoppingCart__desktop {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 10px 0 10px;
}

.ShoppingCart_productList__desktop {
  margin-top: 12px;
  border-radius: 16px;
  height: max-content;
  padding-bottom: 12px;
  margin: 0;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

.ShoppingCart_checkout__desktop {
  min-width: 320px;
  margin-top: 12px;
  border-radius: 16px;
  padding: 16px;
  height: max-content;
  margin: 0;
  position: sticky;
  top: 0;
}

.ShoppingCart_confirmPay__desktop {
  margin: 10px 0 0 0;
  padding: 0;
}
