.ShoppingCart {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
}

.ShoppingCart::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.ShoppingCart_productList {
  margin: 12px;
  width: calc(100% - 24px);
  column-gap: 16px;
  background: var(--vkui--color_background_content);
  row-gap: 8px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.ShoppingCart_confirmPay {
  max-width: 410px !important;
  display: block !important;
  max-height: 48px !important;
  margin: 10px !important;
  align-self: flex-end;
  position: sticky;
  top: 100%;
}

.ShoppingCart_checkout {
  flex: 1;
  background: var(--vkui--color_background_content);
  user-select: none;
}

@media (min-width: 768px) {
  .ShoppingCart {
    display: flex;
    flex-direction: row !important;
    gap: 10px;
    margin: 10px 10px 0 10px;
  }

  .ShoppingCart_productList {
    margin-top: 12px;
    border-radius: 16px;
    height: max-content;
    padding-bottom: 12px;
    margin: 0;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
  }

  .ShoppingCart_checkout {
    min-width: 320px;
    margin-top: 12px;
    border-radius: 16px;
    padding: 16px;
    height: max-content;
    margin: 0;
    position: sticky;
    top: 0;
  }

  .ShoppingCart_confirmPay {
    margin: 10px 0 0 0 !important;
  }
}
