.Products {
  width: 100%;
  height: max-content;
}

.Products_grid {
  display: grid;
  backface-visibility: hidden;
  will-change: transform;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-product-card-width), max-content));
  margin-left: 12px;
  margin-right: 12px;
  gap: 12px;
}

.Products_spinner {
  height: 80px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

@media (min-width: 768px) {
  .Products_grid {
    max-width: min(100%, 520px);
  }
}
