.Main {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
}

.Main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Main_sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Main_header__mobile {
  width: 100%;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 0 4px 0;
}

.Main_header_title {
  font-weight: 600;
  font-size: 16px;
  user-select: none;
  line-height: 19px;
  padding-bottom: 2px;
}

.Main_header_shopInfo {
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Main_header_shopInfo__unload img {
  opacity: 0;
}

.Main_header_shopInfo img {
  border-radius: 100px;
  width: 32px;
  height: 32px;
  user-select: none;
}

.Main_header_shopInfo_name {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  line-height: 15px;
  color: var(--vkui--color_text_secondary);
}

.Main_header__desktop {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  margin-left: 12px;
  align-items: center;
  padding: 6px 0 4px 0;
}

.Main_header__desktop .Main_header img {
  width: 24px;
  height: 24px;
}

.Main_header__desktop .Main_header_title {
  font-weight: 600;
  font-size: 20px;
  padding-right: 8px;
  border-right: 1px solid var(--vkui--color_text_secondary);
}

.Main_header__desktop .Main_header_shopInfo_name {
  font-size: 16px;
}

.Main__desktop {
  gap: 10px;
  margin: 0 10px;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.Main_sidebar__desktop {
  position: sticky;
  top: 0;
}
