.Store {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
  flex: 1;
}

.Store_sidebar {
  min-width: 375px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Store::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Store__desktop {
  gap: 10px;
  margin: 0 10px;
  backface-visibility: hidden;
  will-change: transform;
  flex-direction: row;
  justify-content: space-around;
}
