.Categories {
  width: 100%;
  height: fit-content;
  background: var(--vkui--color_background_content);
}

.Categories_horizontalScroll {
  max-width: 100%;
  overflow-x: scroll;
}

.Categories_horizontalScroll_row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 0px 12px;
  background: var(--vkui--color_background_content);
}

.Categories_horizontalScroll_wrapper {
  width: max-content;
}

.Categories_horizontalScroll_row .CategoryCard:last-of-type {
  flex: 1;
}

.Categories_horizontalScroll_row:last-child {
  padding: 4px 12px 0px 12px;
}

.Categories_horizontalScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Categories__desktop {
  margin-top: 12px;
  max-width: 375px;
  padding: 0px 0px 12px 0px;
  border-radius: 16px;
}
