.CategoryList {
  flex: 1;
  max-height: 100%;
  overflow: scroll;
  background: var(--vkui--color_background_content);
}

.CategoryList::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.CategoryList_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
  margin: 12px;
}

.CategoryList_grid .CategoryCard {
  width: calc(100% - 16px);
  max-width: 200px;
}

.CategoryList_grid .CategoryCard .vkuiCard__in {
  min-height: 130px;
  justify-content: space-between;
  gap: 0px !important;
  width: 100%;
  min-width: min-content;
}

@media (min-width: 768px) {
  .CategoryList {
    margin: auto;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 16px;
    height: 100%;
    min-width: 100%;
    max-width: 800px;
    box-sizing: border-box;
  }
}
