.Counter {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background: var(--vkui--color_background_content);
  align-items: center;
  max-height: 28px;
  user-select: none;
  gap: 4px;
}

.Counter_button {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Counter_button__disable {
  opacity: 0.5;
  pointer-events: none;
}
