.ProductCard {
  width: 100%;
  max-width: 150px;
  cursor: pointer;
  border-radius: 16px 16px 8px 8px !important;
}

.ProductCard .vkuiCard__in {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ProductCard_preview {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
}

.ProductCard_preview__unload {
  overflow: hidden;
  background-color: #e1e1e1;
}

.ProductCard_preview__unload img {
  opacity: 0;
}

.ProductCard_preview img {
  width: 150px;
  border-radius: 12px;
  user-select: none;
}

.ProductCard_info {
  padding: 5px 12px 8px 12px;
  letter-spacing: 0.2px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.ProductCard_title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--vkui--color_text_secondary);
}

.ProductCard_price {
  margin-top: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--vkui--color_text_primary);
}
