.PageHeader {
  display: flex;
  height: 52px;
  flex-direction: row;
  align-items: center;
}

.PageHeader_title {
  user-select: none;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  margin-left: 12px;
  max-width: 55%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.PageHeader_title__desktop {
  max-width: 100%;
}
