.Navbar__mobile {
  position: sticky;
  top: 0px;
  z-index: 999;
  max-width: 100%;
  width: 100%;
  background: var(--vkui--color_background_content);
}

.Navbar_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  user-select: none;
  gap: 10px;
  background: var(--vkui--color_background_content);
}

.Navbar_search {
  border: none;
}

.Navbar_iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 28px;
  max-width: 28px;
  border-radius: 100%;
  position: relative;
  right: 13px;
}

.Navbar_iconButton__disabled {
  display: none;
}

.Navbar_iconButton_counter {
  z-index: 999;
  top: 0px;
  right: -8px;
  position: absolute;
}

.Navbar__desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  background: var(--vkui--color_background_content);
}

.Navbar__desktop .Navbar_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: var(--sidebar-width);
  background: var(--vkui--color_background_content);
}

.Navbar__desktop .Navbar_content__stretched {
  width: 100%;
}
