.CartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}

.CartItem_preview {
  position: relative;
  width: 90px;
  min-width: 90px;
  aspect-ratio: 1/1;
  border-radius: 12px;
  left: 0;
}

.CartItem_preview img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  user-select: none;
}

.CartItem_preview__unload {
  animation: 3s skeletonAnimation linear infinite;
  background: var(--skeleton-background);
  background-size: 300% 200%;
}

.CartItem_preview__unload img {
  opacity: 0;
}

.CartItem_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.CartItem_info_name {
  color: var(--vkui--color_text_secondary);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-left: 8px;
}

.CartItem_info_price {
  color: var(--vkui--color_text_primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-left: 8px;
}

.CartItem_info_controller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
}

.CartItem_info_controller .vkuiIconButton .vkuiIcon--24 {
  padding: 8px !important;
}
