.TechInfo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 16px;
}

.ThechInfo_description {
  color: var(--vkui--color_text_secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  padding: 14px 12px 10px 12px;
  color: var(--vkui-light-text-text-subhead, #626d7a);
}

.ThechInfo_content {
  display: flex;
  flex-direction: column;
}

.TechInfo_item {
  display: flex;
  height: 36px;
  padding: 0px 12px;
  align-items: center;
  align-self: stretch;
}
