.ProductInfo {
  background: var(--vkui--color_background_content);
  position: relative;
}

.ProductInfoPage {
  max-height: 100%;
  overflow: scroll;
}

.ProductInfoPage::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

.ProductInfoPage::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

.ProductInfo_content {
  display: flex;
  flex-direction: column;
  padding: 16px 0px var(--fixed-layout-height) 16px;
  gap: 4px;
}

.ProductInfo_content_title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.ProductInfo_content_price {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.ProductInfo_content_description {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 8px 0 14px 0;
}

.ProductInfo_skeleton {
  width: 100%;
  aspect-ratio: 1/1;
  height: max-content;
  background: #ececec;
  transition: opacity 0.7s;
}

.ProductInfo_gallery {
  will-change: transform;
}

@media (min-width: 660px) {
  .ProductInfo {
    margin: auto;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
  }
  .ProductInfo_content_description {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 8px 0 14px 0;
  }
  .ProductInfo_gallery {
    will-change: transform;
    width: 510px;
    height: 510px;
    max-height: 100%;
  }
  .ProductInfo_content {
    width: 20%;
    max-width: 337px;
    flex: 1;
  }
}
