.ProductInfo {
  flex: 1;
  max-height: 100%;
  overflow: scroll;
  background: var(--vkui--color_background_content);
  position: relative;
}

.ProductInfo::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.ProductInfo_offer {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 16px 16px;
  gap: 6px;
}

.ProductInfo_offer_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.ProductInfo_offer_price {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--vkui--color_text_secondary);
  display: flex;
  align-items: center;
}

.ProductInfo_offer_price__skeleton {
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
  width: 75px;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  border-radius: 15px;
  animation: 3s skeletonAnimation linear infinite;
  background: var(--skeleton-background-gradient);
  background-size: 300% 200%;
}

.ProductInfo_description {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 12px 16px 30px 16px;
}

.ProductInfo_skeleton {
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
  width: 100%;
  aspect-ratio: 1/1;
  height: max-content;
  background: #ececec;
  transition: opacity 0.7s;
}

.ProductInfo_footer {
  position: sticky;
  background: inherit;
  width: 100%;
  padding: 12px 16px 12px 16px;
  box-sizing: border-box;
  display: flex;
  top: 100%;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  -webkit-box-shadow: 0px -5px 12px 0px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0px -5px 12px 0px rgba(34, 60, 80, 0.15);
  box-shadow: 0px -5px 12px 0px rgba(34, 60, 80, 0.15);
}

.ProductInfo_footer__scroll {
  bottom: 0;
  top: auto;
}

.ProductInfo_footer .Counter {
  max-height: 44px;
}

@media (min-width: 420px) {
  .ProductInfo_gallery {
    max-width: var(--product-photo-max-size);
    margin: 0 auto;
  }

  .ProductPhoto {
    max-width: var(--product-photo-max-size);
    max-height: var(--product-photo-max-size);
  }
}

@media (min-width: 768px) {
  .ProductInfo {
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 16px;
    height: 100%;
    width: 605px;
    box-sizing: border-box;
  }
}
